
@media(min-width: 801px) {
    .add-recipe {
        display: none;
    }
}
@media(max-width: 800px) {
    .add-recipe {
        position: fixed;
        bottom: 1rem;
        left: 0;
        right: 0;
        margin: 0 auto;
        height: 2.5rem;
        width: 2.5rem;
        background-color: var(--blue);
        border-radius: 50%;
        z-index: 99;
    }
    
    .add-recipe__plus-wrapper {
        position: relative;
        height: 2.5rem;
        width: 2.5rem;
        border-radius: 50%;
    }
    
    .add-recipe__plus-bar {
        margin: 0 auto;
        position: absolute;
        background-color: #fff;
        border-radius: 0.5rem;
    }
    
    .add-recipe__plus-bar--horizontal {
        width: 50%;
        height: 8%;
        left: 25%;
        top: 46%;
    }
    
    .add-recipe__plus-bar--vertical {
        width: 8%;
        height: 50%;
        left: 46%;
        top: 25%;
    }
}


