/**
 * Main app styles
 */

@import './variables.css';

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 20px;
}

body {
    font-family: 'Montserrat', sans-serif;
    background-color: var(--light-pink);
}

h1 {
    font-size: 2rem;
}

h2 {
    font-size: 1.6rem;
}