/**
 * Main app styles
 */

@import "./variables.css";
@import "./typography.css";
@import "./main.css";

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 20px; /* <- 1rem */
}

body {
    /* background-color: var(--light-pink); */
    height: 100vh;
    margin: 0;
    max-width: 100vw;
    overflow-x: hidden;
    overflow-y: auto;
}

h1 {
    font-size: 2rem;
}

h2 {
    font-size: 1.6rem;
}

button {
    cursor: pointer;
}
