.banner {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 2rem;
    margin-left: var(--page-margin);
    margin-right: var(--page-margin);
}

.banner__text-area {
    align-self: center;
    justify-self: center;
    max-width: 20rem;
    text-align: center;
}

.banner__heading {
    font-weight: 800;
    font-size: 5rem;
    line-height: 5rem;
    
}

.banner__heading:not(:last-child) {
    margin-bottom: 2rem;
}

.banner__text {
    font-size: 0.9rem;
}

.banner__text:not(:last-child) {
    margin-bottom: 1.5rem;
}

.banner__link {
    color: #fff;
    text-decoration: none;
    
    letter-spacing: 1px;
    font-weight: 400;
}

.banner__image {
    display: flex;
    justify-content: center;
}

.banner__image svg {
    max-width: 30rem;
    transform: rotate(-15deg);
}

@media(max-width: 1155px) {
    .banner {
        grid-template-columns: 1fr; 
    }

    .banner__text-area {
        padding-top: 2rem;
    }
}

@media(max-width: 680px) {
    .banner__image svg {
        display: none;
    }
}