.button {
    padding: 0.5rem;
    max-width: 6rem;
    display: inline;
    border: none;
    background-color: #000;
    color: #fff;
    font-size: 0.8rem;
    background-color: var(--blue);
}

.button__back {
    margin-right: 0.8em;
    background-color: var(--blue);
}