.create-recipe {
    display: flex;
    justify-content: center;
}

.create-recipe__wrapper {
    display: flex;
    max-width: 30rem;
    margin: 0 auto;
    flex-direction: column;
    align-items: center;
}

a.create-recipe__button {
    padding: 1rem;
    width: 100%;
    display: block;
    font-size: 1.2rem;
    text-decoration: none;
    margin-bottom: 2rem;
}

.create-recipe__icon {
    height: 1rem;
    width: auto;
    fill: #fff;
    margin-left: 1rem;
}

.button:hover .create-recipe__icon {
    fill: var(--secondary);
}

@media (max-width: 905px) {
    a.create-recipe__button,
    .create-recipe__icon  {
        font-size: 0.8rem;
    }
}

@media (max-width: 400px) {
    a.create-recipe__button {
        font-size: 0.6rem;
    }
}
