.error {
    margin: 1rem 0;
    background-color: var(--light-red);
    border: 2px solid #f5c2c7;
    display: flex;
    justify-content: center;
    border-radius: var(--border-radius);
    color: #842029;
}

.error p {
    font-size: 0.8rem;
    padding: 0.5rem;
}