.error {
    margin-top: 1rem;
    background-color: var(--light-red);
    border: 2px solid #f5c2c7;
    display: flex;
    justify-content: center;
    border-radius: var(--border-radius);
    padding: 0.5rem 0;
    color: #842029;
}