.filter {
    display: flex;
}

.filter__item {
    text-transform: uppercase;
    list-style-type: none;
    margin-right: 1rem;
    cursor: pointer;
    letter-spacing: 1px;
    font-weight: 500;
    font-size: 0.8rem;
}

.filter__item--active {
    border-bottom: 1px solid;
}
