.form {
    background-color: rgb(255, 255, 255);
    padding: 3rem;
    border-radius: var(--border-radius);
}

.form form {
    margin-bottom: 1rem;
}

.form__wrapper {
    display: flex;
    justify-content: center;
    margin-top: 3rem;
}

.form__inputs {
    margin-bottom: 1.5rem;
}

.form__input-wrapper {
    margin-bottom: 0.8rem;
    width: 100%;
}


.form__input {
    padding: 0.5rem;
    margin-bottom: 1rem;
}

.form__input,
.form__textarea {
    border: 1px solid rgb(211, 209, 209);
    border-radius: var(--border-radius);
}

.form__textarea {
    margin-bottom: 1rem;
    font-family: "Poppins", sans-serif;
    padding: 0.7rem;
}

.form__input input:hover {
    border: 1px solid #aaa;
}

.form__icon {
    margin-right: 0.5rem;
}

.form__button {
    display: flex;
    justify-content: center;
}

.form__text {
    font-size: 0.7rem;
}
