.form {
    background-color: rgb(255, 255, 255);
    border-radius: var(--border-radius);
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: var(--page-margin);
}

.form form {
    margin-bottom: 1rem;
}

.form__wrapper {
    display: flex;
    justify-content: center;
    margin-top: 3rem;
}

.form__inputs {
    margin-bottom: 1.5rem;
    margin-left: 2rem;
}

.form__input-wrapper {
    margin-bottom: 0.8rem;
    width: 100%;
}


.form__input {
    padding: 0.5rem;
    margin-bottom: 1rem;
}

.form__input,
.form__textarea {
    border: 1px solid rgb(211, 209, 209);
    border-radius: var(--border-radius);
    font-family: "Poppins", sans-serif;
    background-color: #fff;
}

.form__textarea {
    margin-bottom: 1rem;
    font-family: "Poppins", sans-serif;
    padding: 0.7rem;
}

.form__input input:hover {
    border: 1px solid #aaa;
}

.form__input-account {
    
}

.form__image-wrapper, 
.form form {
    padding: 4rem 2.5rem;
}

.form__image-wrapper {
    background-color: #E7F0EF;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form__image-wrapper h1{
    color: var(--secondary);
    /* color: #57908D; */
}

.form__image-wrapper p{
    font-size: 0.8rem;
}

.form__image {
    max-height: 10rem;
    height: 100%;
    width: auto;
    background-color: #E7F0EF;
    transform: rotate(-15deg);
}

.form__icon {
    margin-right: 0.5rem;
}

.form__button {
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
}

.form__text {
    font-size: 0.7rem;
    display: flex;
    justify-content: center;
}

.form__link {
    color: var(--secondary);
}
