/**
 * Navbar styles
 */

@import './variables.css';

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 8vh;
}

.navbar__logo {
    color: black;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-size: 1rem;
    font-weight: 700;
    color: var(--green);
    text-decoration: none;
    margin-left: 2rem;
}

.navbar__nav-items {
    display: flex;
    justify-content: space-around;
    width: 40%;
}

.navbar__nav-link {
    color: #000000;
    text-decoration: none;
    letter-spacing: 1px;
    font-weight: 700;
    font-size: 0.8rem;
}

.navbar__nav-item {
    list-style: none;
}

@media (max-width: 1024px) {
    .navbar__nav-links {
        width: 50%;
    }
}


