/**
 * Navbar styles
 */

@import "./variables.css";

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 8vh;
}

.navbar__logo {
    color: black;
    font-family: 'Sue Ellen Francisco', cursive;
    letter-spacing: 3px;
    font-size: 0.8rem;
    font-weight: 700;
    text-decoration: none;
    margin-left: 2rem;
    display: flex;
    flex-direction: column;
    padding-top: 0.5rem;
    text-transform: uppercase;
}

.navbar__logo svg {
    height: 3rem;
    width: auto;
    margin-bottom: 0.5rem;
}

.navbar__nav-items {
    display: flex;
    justify-content: space-around;
    margin-right: 1rem;
    align-items: center;
    text-transform: uppercase;
}   

.navbar__nav-link {
    color: #000000;
    text-decoration: none;
    letter-spacing: 3px;
    font-weight: 500;
    font-size: 0.8rem;
}

.navbar__nav-item {
    list-style: none;
    padding-right: 1rem;
    padding-left: 1rem;
}

.navbar__profile-button {
    background-color: var(--light-pink);
    background-color: transparent;
    border: none;
    display: flex;
    align-items: center;
}

.navbar__profile-button[aria-expanden] {
}

.navbar__dropdown {
}

.navbar__nav-item a {
    position: relative;
    padding-bottom: 0.5em;
}

.navbar__nav-item a::after {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 0%;
    content: ".";
    color: transparent;
    background: #aaa;
    height: 1px;
    transition: all 0.5s;
}

.navbar__nav-item a:hover::after {
    width: 100%;
}

.navbar__profile-button .svg-inline--fa.fa-w-16 {
    width: 2em;
    height: auto;
}

.navbar__profile-button .svg-inline--fa.fa-w-10 {
    width: 1em;
    height: auto;
    margin-left: 0.3em;
}

.navbar__profile-icon {
    cursor: pointer;
}

@media (max-width: 1024px) {
    .navbar__nav-links {
        width: 50%;
    }
}
