/**
 * Navbar styles
 */

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    z-index: 5;
    padding: 2rem var(--page-margin);
}

.navbar__nav {
    display: flex;
}

.navbar__logo {
    color: black;
    font-family: "Sue Ellen Francisco", cursive;
    letter-spacing: 3px;
    font-size: 0.8rem;
    font-weight: 700;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    text-transform: uppercase;
    white-space: nowrap;
    margin-bottom: 0.2rem;
}

.navbar__logo svg {
    height: 3rem;
    width: auto;
}

.navbar__nav-items {
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-transform: uppercase;
}

.navbar__nav-link {
    color: #000;
    text-decoration: none;
    letter-spacing: 3px;
    font-weight: 500;
    font-size: 0.8rem;
    white-space: nowrap;
}

.navbar li {
    list-style: none;
}

.navbar__nav-item {
    padding-right: 0.5rem;
    padding-left: 1vw;
}

.navbar__nav-item-dropdown {
    position: relative;
}

.navbar__profile-button {
    background-color: transparent;
    border: none;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.navbar__dropdown {
    position: absolute;
    top: 2rem;
    background-color: rgba(255, 255, 255, 0.95);
}

.navbar__dropdown li {
    padding: 0.5rem 1rem;
}

.navbar__nav-item > a {
    position: relative;
    padding-bottom: 0.5em;
}

.navbar__nav-item > a::after {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 0%;
    content: ".";
    color: transparent;
    background: #aaa;
    height: 1px;
    transition: all 0.5s;
}

.navbar__nav-item > a:hover::after {
    width: 100%;
}

.navbar__profile-icon {
    cursor: pointer;
    height: 1.5rem;
}

.navbar__displayname {
    text-transform: none;
    font-weight: 300;
    font-size: 0.7rem;
}

.navbar__icon {
    margin-right: 0.3rem;
}

.navbar__login-icon {
    cursor: pointer;
    height: 1rem;
    margin-right: 0.5rem;
}

@media (max-width: 1024px) {
    .navbar__nav-links {
        width: 50%;
    }
}

@media (min-width: 801px) {
    .navbar__nav-item--mobile {
        display: none;
    }

    .navbar__dropdown-profile {
        left: -5.2rem;
    }

    .navbar__dropdown-items {
        display: none;
    }

    .navbar__logo svg {
        margin-bottom: 0.3rem;
    }
}

@media (max-width: 800px) {
    .navbar__nav-item--mobile {
        display: block;
    }

    .navbar {
        justify-content: space-between;
    }

    .navbar__nav {
        display: none;
    }

    .navbar__profile-icon {
        height: 1.2rem;
        margin-right: 0.5rem;
    }

    .navbar__dropdown-menu {
        left: -8.1rem;
    }

    .navbar__dropdown-profile {
        left: -5.5rem;
    }
}

@media (max-width: 500px) {
    .navbar__logo svg {
        height: 2rem;
    }
    .navbar__logotext {
        display: none;
    }

    .navbar__nav-link {
        font-size: 0.8rem;
    }
}
