.page {
    margin: var(--page-margin);
    position: relative;
}

.page__title:not(:last-child) {
    padding-top: 2rem;
    margin-bottom: 3rem;
}

.page__title {
    font-weight: 600;
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0 auto;
    white-space: nowrap;
    color: #052729;
}

.page__title::before,
.page__title::after {
    content: "";
    border-top: 1px solid;
    margin: 0 1rem 0 0;
    flex: 1 0 1rem;
}

.page__title::after {
    margin: 0 0 0 1rem;
}

.page__text-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.page__title,
.page__text {
    text-align: center;
}

.page__text-icon {
    margin-right: 0.5rem;
    color: #000;
}

.page__feedback {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 4rem var(--page-margin) 0;
}

.page__feedback .link {
    margin-bottom: 10rem;
}

@media (min-width: 2309px) {
    .page {
        margin-left: calc(4 * var(--page-margin));
        margin-right: calc(4 * var(--page-margin));
    }

    .page__title {
        width: calc(100% - 2 * (4 * var(--page-margin)));
    }
}

@media (max-width: 2308px) {
    .page {
        margin-left: calc(3 * var(--page-margin));
        margin-right: calc(3 * var(--page-margin));
    }

    .page__title {
        width: calc(100% - 2 * (3 * var(--page-margin)));
    }
}

@media (max-width: 890px) {
    .page {
        margin-left: var(--page-margin);
        margin-right: var(--page-margin);
    }

    .page__title {
        width: calc(100% - 2 * var(--page-margin));
    }
}

@media (max-width: 600px) {
    .page__title {
        font-size: 1.8rem;
        width: 100%;
        margin-bottom: 0;
    }

    .page__title:not(:last-child) {
        padding-top: 1rem;
        margin-bottom: 1.5rem;
    }

    .page__title::before,
    .page__title::after {
        content: "";
        border-top: none;
    }
}

@media (max-width: 575px) {
    .page {
        margin-left: var(--page-margin-mobile);
        margin-right: var(--page-margin-mobile);
    }
}

@media (max-width: 400px) {
    .page__text {
        font-size: 0.8rem;
    }
}
