.page {
    background-color: #fff;
}

.page__title:not(:last-child){
    padding-top: 2rem;
    margin-bottom: 2rem;
}

.page__title {
    font-weight: 600;
}

.page__title,
.page__text {
    text-align: center;
}


