.recipe {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 3rem;
    background-color: rgba(255, 255, 255, 0.815);
    box-shadow: 0 3rem 6rem rgba(0, 0, 0, 0.1);
}

.recipe__image {
    display: block;
    width: 100%;
    height: 50vw;
    object-fit: cover;
    padding: 3rem;
}

.recipe__content {
    padding: 3rem;
    display: grid;
}

.recipe__text {
    align-self: start;
}

.recipe__file {
    align-self: end;
}

.recipe__file img {
    display: block;
    width: 100%;
    height: 10vw;
    object-fit: cover;
    align-self: end;
}

.recipe__file-button {
    padding: ;
}

.recipe__file::after {
}
