/**
 * CSS Variables
 */

:root {
    --light-pink: #f4ebe2;
    --light-red: #eba69c;
    --green: #84b292;
    --light-yellow: #f7ea89;
    --yellow: #fedf81;
    --blue: #2B2A87;

    --page-margin: 5vw;
    --border-radius: 0.3rem;
}

.original {
    color: #33319F;
}


.alternative {
    color:#201F63;
    color: #2F4858;
}