/**
 * CSS Variables
 */

:root {
    --light-pink: #f4ebe2;
    --light-red: #FFCAC2;
    --red: #eba69c;
    --green: #84b292;
    --light-green: #e7f0ef;
    --light-yellow: #f7ea89;
    --yellow: #fedf81;
    --blue: #2B2A87;
    --dark-green: #09484C;

    --page-margin: 5vw;
    --page-margin-mobile: 2vw;
    --border-radius: 0.3rem;

    --primary: var(--light-pink);
    --secondary: var(--dark-green);
}

.original {
    color: #33319F;
}


.alternative {
    color:#201F63;
    color: #2F4858;
}