/**
 * Main app styles
 */

 @import "~bootstrap/scss/bootstrap";

#logo-text {
    font-size: 2rem;
}

.nav-links {
    font-size: 1.5rem;
    margin: 1rem;
}

/* #placeholder {

} */

#recipe-photo {
    max-width: 50%
}

#recipe-text {
    font-size: 1.3rem;
}